div.navContainer{
    padding: 0px 40px;
    margin-bottom: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.navContainer > h4{
    display: inline-block;
}
div.navContainer > h4:hover{
    user-select: none;
}

div.navContainer > nav{
    display: flex;
    gap: 32px;
}

div.navContainer > nav > i{
    color: white;
    display: none;
}

div.navContainer > nav > span{
    opacity: 67%;
}
div.navContainer > nav > span:hover{
    cursor: pointer;
    user-select: none;
}

@media (max-width:768px) {
    div.navContainer > nav > span{
        display: none;
    }
    div.navContainer > nav > i{
        display: block;
    }
}
